<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MalaNasobilka.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84DECEF61C8EFE48007E6F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DECF0A1C8EFE48007E6F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DECF151C8EFE48007E6F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
